.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 2.2em;
}

header{
    width: 100%;
    height: 3.5em;
    background-color: var(--header);
    display: flex;
    justify-content: center;
}

header > nav {
    min-width: 60%;
    padding: .2em;
    color: var(--font-header);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 1.5em;
}
header ul {
    display: flex;
}

header ul li {
    display: flex;
    align-items: center;
    padding: 0 1em;
    font-weight: 500;
    font-size: 1.1em;
}

header ul li:hover{
    cursor: pointer;
    background-color: var(--nav-hover);
}

.arrow{
    font-size: 1.8em;
}

header ul li .arrow {
    transition: .3s;
}

header ul li:hover .arrow{
    transform: rotate(180deg);
}

#image-user{
    width: 2em;
    height: 2em;
}